<p>
  This is a Data Carpentry style lesson on building graphics in R with ggplot2. 
  ggplot2 is a plotting package in R that makes it simple to create complex plots from data in a data frame, 
  allowing you to create and edit publication quality plots with minimal amounts of adjustments and tweaking. 
  In this course, you will learn how to produce plots using ggplot2, set universal plot settings and themes, 
  apply faceting in ggplot, and build and save complex and customized plots from data in a data frame.
</p>
<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its lessons are domain specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/ploscompbiol/article?id=10.1371/journal.pcbi.1005510">Good Enough Practices for Scientific Computing</a>".
  </em>
</p>
